.arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  display: inline-block;
  @media screen and(min-width: 1024px){
    font-size: 1.5rem;
  }
  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin-left 0.5s ease-in-out;
  }
  &:hover::after{
    margin-left: 10px;
  }
}
